@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}

h3 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
}

p {
  font-size: medium;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust the thickness of the underline */
  text-underline-offset: 3px; /* Adjust the distance between the text and the underline */
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
}
