@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0px;
}

h2 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}

h3 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: larger;
}

p {
  font-size: medium;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust the thickness of the underline */
  text-underline-offset: 3px; /* Adjust the distance between the text and the underline */
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
}

.wrapper {
  @apply w-full md:w-[70%] md:max-w-[1280px] md:mx-auto flex flex-row;
}

button {
  @apply px-3 py-2 m-2 rounded-full border-2 border-white bg-red-400 hover:bg-red-600 min-w-20 text-white;
}

input, select {
  @apply px-3 py-2 border-b-2 transition-all duration-300 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}

label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}
